<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.bigappleroll">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HotelActivity"
            android:label="@string/Hotels"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RestaurantsActivity"
            android:label="@string/Restaurants"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ShoppingActivity"
            android:label="@string/Stores"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MeetingActivity"
            android:label = "@string/Meetings"
            android:parentActivityName=".MainActivity"></activity>
    </application>

</manifest>